%h1 My Books

%br
= form_tag books_path, :method => :get, :id => 'genres_form' do
	= hidden_field_tag "title_sort", true if @title_header
	= hidden_field_tag ":publish_date", true if @date_header
	Include:
	- Book::GENRES.each do |genre|
		= genre
		= check_box_tag "genres[#{genre}]", 1, @selected_genres.include?(genre), :id => "genres_#{genre}"
	= submit_tag 'Refresh', :id => 'genres_submit'
%br

= render 'book_table'

= link_to 'Add new book', new_book_path