!!! 5
%html
  %head
    %title My Favourite Books
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    = csrf_meta_tags

  %body
    #main
      -if flash[:notice]
        #notice.message= flash[:notice]
      -elsif flash[:alert]
        #warning.message= flash[:alert]
      = yield